<div class="container-fluid p-0">
    <div class="row align-items-center justify-content-center vh-100">
        <div class="col-md-6">
            <img src="/images/spotify-background.jpeg" class="img-fluid mb-4" alt="Imagen">
            <div class="d-flex flex-column align-items-center">
                <h2 class="text-center text-white">Buscar Artista</h2>
                <form action="/artist-search" method="GET" class="mt-4">
                    <div class="input-group">
                        <input type="text" name="artist" class="form-control text-center" placeholder="Ingrese el nombre del artista" required>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
